<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Our eyes met</h3>
  </div>
  <div class="panel-body">
    <%= form_for(current_user, :html => { :html => { :multipart => true }, class: 'form-group'}) do |f| %>
      
      
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control', autofocus: true, placeholder: "Precise your username" %>
      
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: 'form-control', id: "date-of-birth" %>
      </br>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      
  <%= f.fields_for(@album) do |p| %>
     <div class="field">
       <%= p.label :avatar %><br>
       <% if @avatar.blank? %>
       <%= p.file_field :avatar, name: "albums[avatar]", id: "file-field", accept: 'image/png,image/gif,image/jpeg', disabled: false %>
       <% else %>
       <%= p.file_field :avatar, name: "albums[avatar]", id: "file-field", accept: 'image/png,image/gif,image/jpeg', disabled: true %>
       <% end %>
     </div>
   <% end %>
   
   <div class="row">
     <div class="col-xs-6 col-md-3">
      <% if !@avatar.blank? %>
       <%= image_tag(@avatar.thumb.url, class: "thumbnail image-preview", size: "200x200") %>
      <% else %>
       <%= image_tag("default-profile.png", class: "thumbnail image-preview", size: "200x200") %>
      <% end %>
     </div>
     <div class="col-xs-6 col-md-9">
       <% if !@avatar.blank? %>
       <%= link_to "Delete avatar", avatar_user_path(current_user), class: "delete-button", remote: true, method: :delete %>
       <% end %>
     </div>
   </div>
   
   
      
      <%= f.submit "Save your profile", class: "btn btn-primary" %>
    <% end %>
    

  </div>
</div>

<script>

$("#file-field").bind("change", function(){
  if (this.files && this.files[0]){
  var size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5MB. Please choose a smaller file.');
  }
  }
  
});


$("#file-field").change(function(){
    if (this.files && this.files[0] && this.files[0].size/1024/1024 < 5) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('.image-preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(this.files[0]);
    }
});

</script>
