<%= link_to post_path(post), class: "list-group-item" do %>
  <div class="media col-md-3">
    <figure>
      <img class="media-object img-rounded img-responsive"  id="avatar-post" src="http://placehold.it/350x250" alt="placehold.it/350x250">
    </figure>
  </div>
  <div class="col-md-7">
    <h4 class="list-group-item-heading"><%= post.title %></h4>
    <p class="list-group-item-text">
      <small id="city-user-profile">
        <cite><%= post.city %> - <%= post.postal_code %>
        <i class="glyphicon glyphicon-map-marker show-user-glyphicon"></i>
        </cite>
      </small>
      <%=h truncate(post.description, length: 40) %>
    </p>
  </div>
  <div class="col-md-2">
    <i class="glyphicon glyphicon-heart-empty"></i>
    <p><%=l post.meeting_date %></p>
  </div>
  <div class="clearfix"></div>
<% end %>


