
<%= render 'posts/error_messages' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Our eyes met</h3>
  </div>
  <div class="panel-body">
    <%= form_for(@post, :html => {class: 'form-group', id: 'new-post-id'}) do |f| %>
      
      
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', autofocus: true, placeholder: "Precise the place where you met" %>
      
      <div class="form-inline">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: 'form-control', id: 'cp', placeholder: "Postal code", style: "margin-right: 30px" %>
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control', id: 'city', placeholder: "City" %>
      </div>
      <%= f.label :meeting_date %>
      <div>
      <button type="button", id="radio-1", class="btn btn-default" >Aujourd'hui</button>
      <button type="button", id="radio-2", class="btn btn-default" >Autre Date</button>
      </div>
      <%= f.text_field :meeting_date, class: "form-control", id: "datepicker" %>
      </br>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <%= f.hidden_field :lat, id: 'lat' %>
      <%= f.hidden_field :lon, id: 'lon' %>
      <%= f.invisible_captcha :verification %>
      <%= f.submit "Submit your Post", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<%= javascript_tag do -%>

$(document).ready(function(){
  $('#radio-1').toggleClass('active');
  $('#datepicker').val("<%= l Date.today %>");
  $('#datepicker').hide();
});

$('#radio-2').click(function(){
$('#datepicker').show();
$('#radio-1').removeClass('active');
$('#radio-2').addClass('active');
});

    $( "#datepicker" ).datepicker({
    dateFormat: "dd-mm-yy"
    }).datepicker("setDate", new Date());



$('#radio-1').click(function(){
$('#datepicker').val("<%= l Date.today %>");
$('#radio-2').removeClass('active');
$('#radio-1').addClass('active');
});



$(function ()
{
  var cache = {};
	$("#cp, #city").autocomplete({
		source: function (request, response)
		 {
		   var term = request.term;
  		   if (term in cache)
  			{
  				response($.map(cache[ term ], function (item)
  				{
  
  					return {
  						label: item.CodePostal + ", " + item.Ville,
  						value: function ()
  						{
  							if ($(this).attr('id') == 'cp')
  							{
  								$('#city').val(item.Ville);
  								$('#lat').val(item.Lat);
  								$('#lon').val(item.Lon);
  								return item.CodePostal;
  							}
  							else
  							{
  								$('#cp').val(item.CodePostal);
  								$('#lat').val(item.Lat);
  								$('#lon').val(item.Lon);
  								return item.Ville;
  							}
  						}
  					}
  				}));
  			}
  			else
  			{
  			var objData = {};
        if ($(this.element).attr('id') == 'cp')
        {
        	objData = { codePostal: request.term, pays: 'FR', maxRows: 10 };
        }
        else
          {
          	objData = { ville: request.term, pays: 'FR', maxRows: 10 };
          }
          $.ajax({
          url: '/posts/autocomplete.json',
          dataType: "json",
          data: objData,
          type: 'POST',
          success: function (data)
          {
            cache[term] = data ;
          	response($.map(data, function (item)
          	{
          
          		return {
          			label: item.CodePostal + ", " + item.Ville,
          			value: function ()
          			{
          				if ($(this).attr('id') === 'cp')
          				{
          					$('#city').val(item.Ville);
          					$('#lat').val(item.Lat);
  								  $('#lon').val(item.Lon);
          					return item.CodePostal;
          				}
          				else
          				{
          					$('#cp').val(item.CodePostal);
          					$('#lat').val(item.Lat);
  								  $('#lon').val(item.Lon);
          					return item.Ville;
          				}
          			}
          		}
          	}));
      }
});

}
		},
		minLength: 3,
		delay: 400
	});
});
<% end -%>