<div class="panel panel-default">
  <div class="panel-heading">
    <h3><b><%= @post.title %></b></h3>
  </div>
  <div class="panel-body">
    <p><b>City: </b><%= @post.city %> - <b>Postal code: </b><%= @post.postal_code %></p>
    <!--<p>Postal code: <%= @post.postal_code %></p>-->
    <p><b>Meeting date: </b><%= l @post.meeting_date %></p>
    <p><b>Description: </b></p>
    <p><%= simple_format(@post.description) %></p>
  </div>
    <div class="panel-footer">
    <small>
    <span class="glyphicon glyphicon-time"></span>
    Posted <%= timeago(@post.created_at) %>
    </small>
    </div>
</div>

<% if owner(@post) %>
    <%= link_to("Edit Your Post", edit_post_path(@post), :method => :get) %>
    <%= button_to("Delete Your Post", post_path(@post), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }) %>
<% end %>

<% if !@message.blank? %>
  <%= form_for(@message, url: send_message_post_path(@post)) do |f| %>
  <div class="form-group">
  <%= f.text_area :content, class: "form-control", placeholder: "write a message" %>
  <%= f.invisible_captcha :verification %>
  <%= f.submit "send", class: "btn btn-primary" %>
  <% end %>
  </div>
<% else %>
<% if !owner(@post) %>
<div><p> Already respond to this post!</p></div>
<% end %>
<% end %>
<div>  
<% if current_user != @user %>
  <%= link_to "Report this post", flag_post_path(@post) %>
<% end %>

<% if current_user.admin? %>
  <%= link_to "Detail for the post reporting", reporting_post_path(@post) %>
  <%= link_to "Detail for the user reporting", reporting_user_path(@post.user) %>
<% end %>
</div>

<%= javascript_tag do %>
  $(function() {
    $("time.timeago").timeago();
  });
<% end %>
    