<div class="container">
  <div class="row">
		<div class="well">
		  <h1 class="text-center">Posts</h1>
        <div class="btn-group" role="group" aria-label="Default Button Groups">
        <% if current_user.admin? %>
  	    <%= link_to "All posts", posts_path, class: "btn btn-default" %>
  	    <%= link_to "Waiting (#{@unpublished_posts})", unpublished_posts_path, class: "btn btn-default-active" %>
  	    <%= link_to "Users", users_path, class: "btn btn-default" %>
  	    <%= link_to "Signaled Posts()", "#", class: "btn btn-default" %>
  	    <%= link_to "Signaled Users()", "#", class: "btn btn-default" %>
        <% end %>
        </div>
      <% if !@posts.blank? %>
      <%= will_paginate %>
      <div class="list-group">
        <%= render partial: 'posts/post_unpublished', collection: @posts, as: :post %>
        
      </div>
      <%= will_paginate %>
      <% end %>
    </div>
  </div>
</div>